@model IEnumerable<EventModel>

@{
    ViewData["Title"] = "Welcome to Elasticsearch Demo";
}

<h4>@ViewData["Title"]</h4>
</br>
<div class="container">
    <div class="row">
        <div class="col-8">
            <p style="float: left;">
                <a asp-action="Create" class="btn btn-success">Create Data</a> &nbsp;or&nbsp
                <form asp-action="Import">
                    <button type="submit" class="btn btn-success" onclick="javascript:alert('Logs data is imported successfully');">Import Data</button>
                </form>
               @* <a asp-action="Delete" class="btn btn-danger">Delete Data</a> &nbsp;or&nbsp;*@
            </p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-8">
            <form asp-action="Index" asp-controller="Elastic" method="get">
                <div class="form-group">
                    <input type="search" name="keyword" class="form-control" placeholder="Enter keyword and press enter to search"/>
                </div>
            </form>
        </div>
    </div>
</div>

@if (Model.Any())
{
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FaultId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FaultType)
            </th>
                <th>
                    @Html.DisplayNameFor(model => model.DisplayText)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Severity)
                </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
                    var bb = item;
                    <tr>
                        <td>
                    @Html.DisplayFor(modelItem => item.FaultId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FaultType)
                </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DisplayText)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Severity)
                    </td>
                    </tr>             
           
            
        }

        </tbody>
    </table>
}