@model Rules

@{
    ViewData["Title"] = "Create Rule Here";
}

<h4>Create Rules</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RuleName" class="control-label">Rule Name</label>
                <textarea asp-for="RuleName" class="form-control"></textarea>
                <span asp-validation-for="RuleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RuleType" class="control-label">Rule Type</label>
                <textarea asp-for="RuleType" class="form-control"></textarea>
                <span asp-validation-for="RuleType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KeyWord" class="control-label">When the</label>
                <select asp-for="KeyWord" class="form-select" asp-items="@ViewBag.keyword">
                    <option disabled selected>--Count of Error--</option>                    
                </select>
            </div>
            <div class="form-group">
                <label asp-for="CountOfKeyword" class="control-label">Is more than</label>
                <select asp-for="CountOfKeyword" class="form-select" asp-items="@ViewBag.List">
                    <option disabled selected>--0--</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="FromDuration" class ="control-label">From last</label>
                <select asp-for="FromDuration" class="form-select" asp-items="@ViewBag.time">
                    <option disabled selected>--0--</option>
                </select>
                <select asp-for="DurationNotaion" class="form-select" asp-items="@ViewBag.timenotation">
                    <option disabled selected>--min--</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Severity" class="control-label"></label>
                <select asp-for="Severity" class="form-control" asp-items="@ViewBag.severity">
                    <option disable selected>minor</option>
                </select>
                <span asp-validation-for="Severity" class="text-danger"></span>
            </div>
            @*//group by implement*@
            <div class="form-group">
                <label asp-for="Email" class="control-label">Notify to</label>
                <textarea asp-for="Email" class="form-control"></textarea>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>    
           
                <div class="form-group">
                    <button type="submit" class="btn btn-success" value="Submit">Create</button>
                </div>
            

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to the List</a>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
